AuthUserFile /srv/data/web/vhosts/cammodules.td-next.com/htdocs/restricted-evstm32f7/.htpasswd
AuthName "Restricted area. Get identified with your ID and password"
AuthType Basic

<limit GET POST>
require valid-user
</limit>
