<div class="community bg-primary-color">
  <div class="community-pattern" id="pattern-owl"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="community-inner">
          <h2 class="community-title">Want to sign a NDA , get a quote or just learn more about our camera modules? <br>Get directly in touch with your local office contact!</h2>
          <a target=_blank href="{{site.url}}/get-in-touch" type="button" class="btn btn-white btn-l uppercase">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="hackaton"></div>
</div>
