<section id="range" class="range bg-second-color-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading section-heading-second">Choose from a family of camera modules</h2>
        <h3 class="section-subheading">We provide a wide High-quality camera module range from VGA to 5MP for <a href="{{site.url}}/applications/">Industrial imaging applications</a>.</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid wide">
    <div class="row range-row">
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block socket" src="//assetstdnext.s3.amazonaws.com/img/td7740-socket.png" alt="TD7740-SBBB socket VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              SBBB
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>Dual filter</li>
            <li>SMK socket 8mm x 8mm</li>
            <li>Color bayer</li>
            <li>Lens 100°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="{{site.url}}/vga-td7740/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block socket" src="//assetstdnext.s3.amazonaws.com/img/td7740-socket.png" alt="TD7740-SBAB socket VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              SBAB
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>Dual filter</li>
            <li>SMK socket 8mm x 8mm</li>
            <li>Color bayer</li>
            <li>Lens 90°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="{{site.url}}/vga-td7740/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block socket" src="//assetstdnext.s3.amazonaws.com/img/td7740-socket.png" alt="TD7740-SBAC socket VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              SBAC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>IR filter</li>
            <li>SMK socket 8mm x 8mm</li>
            <li>Color bayer</li>
            <li>Lens 90°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="{{site.url}}/vga-td7740/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block flex" src="//assetstdnext.s3.amazonaws.com/img/td7740-flex25.png" alt="TD7740-FBAC flex VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              FBAC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>IR filter</li>
            <li>Flex 25mm</li>
            <li>Color bayer</li>
            <li>Lens 90°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="{{site.url}}/vga-td7740/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block socket" src="//assetstdnext.s3.amazonaws.com/img/td7740-socket.png" alt="TD7740-SBAA socket VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              SBAA
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>No filter</li>
            <li>SMK socket 8mm x 8mm</li>
            <li>Color bayer</li>
            <li>Lens 90°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="{{site.url}}/vga-td7740/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref last-range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block socket" src="//assetstdnext.s3.amazonaws.com/img/td7740-socket.png" alt="TD7740-SBDC socket VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              SBDC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>IR filter</li>
            <li>SMK socket 8mm x 8mm</li>
            <li>Color bayer</li>
            <li>Lens 128°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="{{site.url}}/vga-td7740/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
    </div>
    <div class="row range-row">
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block socket" src="//assetstdnext.s3.amazonaws.com/img/td7740-socket.png" alt="TD7740-SBEC socket VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              SBEC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>IR filter</li>
            <li>SMK socket 8mm x 8mm</li>
            <li>Color bayer</li>
            <li>Lens 66°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="{{site.url}}/vga-td7740/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block flex" src="//assetstdnext.s3.amazonaws.com/img/td7740-flex38.png" alt="TD7740-GBAC flex 38mm VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              GBAC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>IR filter</li>
            <li>Flex 38mm</li>
            <li>Color bayer</li>
            <li>Lens 90°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="{{site.url}}/vga-td7740/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block flex" src="//assetstdnext.s3.amazonaws.com/img/td5640-flex25.png" alt="TD7740-FCFC flex 5Mp camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>5640
            </div>
            <div class="cam-name-right bg-second-color">
              FCFC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>5 MP + JPEG compression</li>
            <li>IR filter</li>
            <li>Flex 25mm</li>
            <li>Color bayer</li>
            <li>Lens 53.2°</li>
            <li>Auto Focus</li>
          </ul>
          <a href="{{site.url}}/5mp-td5640/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block flex" src="//assetstdnext.s3.amazonaws.com/img/td5640-flex25.png" alt="TD7740-FBGC flex 5Mp camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>5640
            </div>
            <div class="cam-name-right bg-second-color">
              FBGC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>5 MP + JPEG compression</li>
            <li>IR filter</li>
            <li>Flex 25mm</li>
            <li>Color bayer</li>
            <li>Lens 53.2°</li>
            <li>Fixed Focus</li>
          </ul>
          <a href="{{site.url}}/5mp-td5640/" type="button" class="btn btn-brand">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
