<section id="range" class="range">
  <div class="container-fluid wide">
    <div class="row range-row">
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block flex" src="//assetstdnext.s3.amazonaws.com/img/td7740-flex38.png" alt="TD7740-GBAC flex 38mm VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>7740
            </div>
            <div class="cam-name-right bg-second-color">
              GBAC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>VGA</li>
            <li>IR filter</li>
            <li>Flex 38mm</li>
            <li>Color bayer</li>
            <li>Lens 90°</li>
            <li>Focal length 1.3mm</li>
          </ul>
          <a href="/vga-td7740/" type="button" class="btn btn-m btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block flex" src="//assetstdnext.s3.amazonaws.com/img/td5640-flex25.png" alt="TD7740-FCJC flex 5Mp camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>5640
            </div>
            <div class="cam-name-right bg-second-color">
              FCJC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>5 MP + JPEG compression</li>
            <li>IR filter</li>
            <li>Flex 25mm</li>
            <li>Color bayer</li>
            <li>Lens 57°</li>
            <li>Auto Focus</li>
          </ul>
          <a href="/5mp-td5640/" type="button" class="btn btn-m btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block m12" src="//assetstdnext.s3.amazonaws.com/img/td5640-m12-flex275.png" alt="TD7740-HBHC flex 5Mp camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>5640
            </div>
            <div class="cam-name-right bg-second-color">
              HBHC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>5 MP + JPEG compression</li>
            <li>IR filter</li>
            <li>Flex 27.5mm</li>
            <li>Color bayer</li>
            <li>Lens 90°</li>
            <li>Fixed Focus</li>
          </ul>
          <a href="/5mp-td5640/" type="button" class="btn btn-m btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block m12" src="//assetstdnext.s3.amazonaws.com/img/td5640-m12-flex275.png" alt="TD7740-HBIC flex 5Mp camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>5640
            </div>
            <div class="cam-name-right bg-second-color">
              HBIC
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>5 MP + JPEG compression</li>
            <li>IR filter</li>
            <li>Flex 27.5mm</li>
            <li>Color bayer</li>
            <li>Lens 110°</li>
            <li>Fixed Focus</li>
          </ul>
          <a href="/5mp-td5640/" type="button" class="btn btn-m btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block flex" src="//assetstdnext.s3.amazonaws.com/img/td7740-flex38.png" alt="TD7740-GBAC flex 38mm VGA camera module">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>M114
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>720p HD</li>
            <li>IR filter</li>
            <li>Flex 25mm</li>
            <li>RGB Bayer</li>
            <li>Lens from 55° to 90°</li>
            <li>Focal length from 1.8mm to 2.3mm</li>
          </ul>
          <a href="/720p-tdm114/" type="button" class="btn btn-m btn-brand">Learn more</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-2 text-center wide range-col">
        <div class="range-ref">
          <div class="range-head">
            <img class="img-responsive img-range center-block m12" src="//assetstdnext.s3.amazonaws.com/img/tdaip01.png" alt="TDAIP01 H.264 video compression">
          </div>
          <div class="cam-name">
            <div class="cam-name-left">
              <span class="primary-color">TD' </span>AIP01
            </div>
          </div>
          <ul class="list-unstyled range-features">
            <li>Compact 30mm x 30mm</li>
            <li>Fast start up</li>
            <li>H.264 compression</li>
            <li>AAC audio compression</li>
            <li>Power supply 3.3 V &plusmn; 10%</li>
            <li>MJPEG video compression</li>
          </ul>
          <a href="/tdaip01/" type="button" class="btn btn-m btn-brand">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
