<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><img class="img-responsive footer-logo" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/img/tdnext-logo-white@2x.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3">
            <h4 class="footer-header">TD next</h4>
            <ul class="list-unstyled footer-links">
              <li><a href="{{site.url}}/get-in-touch/">A project?</a></li>
              <li><a target=_blank href="http://community.td-next.com">Community</a></li>
              <li><a target=_blank href="http://rfmodules.td-next.com">See also: Sigfox RF modules</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <h4 class="footer-header">Camera modules</h4>
            <ul class="list-unstyled footer-links">
              <li><a href="{{site.url}}/getting-started/">Getting started</a></li>
              <li><a href="{{site.url}}/camera-modules/">Module range</a></li>
              <li><a href="{{site.url}}/vga-td7740/">VGA</a> - <a href="{{site.url}}/5mp-td5640/">5Mp</a></li>
              <li><a href="{{site.url}}/high-quality-camera-modules/">Quality</a></li>
              <li><a href="{{site.url}}/applications/">Applications</a></li>
            </ul>
          </div>

          <div class="clearfix visible-xs-block visible-sm-block"></div>

          <div class="col-xs-6 col-sm-6 col-md-3">
            <h4 class="footer-header">Connect</h4>
            <ul class="list-unstyled footer-links">
              <li><a target=_blank href="https://twitter.com/td_next"><i class="fa fa-twitter fa-footer-connect"></i> Twitter</a></li>
              <li><a target=_blank href="https://www.linkedin.com/company/td-next"><i class="fa fa-linkedin fa-footer-connect"></i> Linkedin</a></li>
              <li><a target=_blank href="http://fr.viadeo.com/fr/company/td-next"><i class="fa fa-viadeo fa-footer-connect"></i> Viadeo</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-3">
            <h4 class="footer-header">Contact</h4>
            <address>
              Zone Actipolis II<br>
              2, bis rue Nully de Harcourt<br>
              33610 CANEJAN (FRANCE)<br>
              +33 (0) 5 57 35 63 70<br>
              contact@td-next.com
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy;Telecom Design 2016 • <a target=_blank href="http://www.td-next.info/legal-notices/">Legal notices</a> •</p>
        </div>
      </div>
    </div>
  </div>
</footer>
