
<nav class="navbar navbar-default navbar-fixed-top menu-base menu-brand-inverted">
  <div class="container">
    <div class="navbar-header"> <a class="navbar-toggle collapsed nav-brand-toggle" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false"> <i class="fa fa-bars fa-2x"></i> </a> <a class="navbar-brand logo" href="/"><img class="img-responsive logo-img" src="//assetstdnext.s3.amazonaws.com/img/tdnext-camera-logo@2x.png" alt="TD next logo"></a> </div>
    <div class="collapse navbar-collapse" id="main-menu-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.url == '/getting-started/' %} class="active" {% endif %}><a href="/getting-started/">Getting started</a></li>
        <li {% if page.url == '/camera-modules/' %} class="active" {% endif %}><a href="/camera-modules/">module range</a></li>
        <li {% if page.url == '/high-quality-camera-modules/' %} class="active" {% endif %}><a href="/high-quality-camera-modules/">Quality</a></li>
        <!--<li {% if page.url == '/evk/' %} class="active" {% endif %}><a href="{{site.url}}/evk/">EVK</a></li>-->
        <li {% if page.url == '/applications/' %} class="active" {% endif %}><a href="/applications/">Inspiration</a></li>
        <li {% if page.url == '/get-in-touch/' %} class="active" {% endif %}><a href="/get-in-touch/">NDA</a></li>
      </ul>
    </div>
  </div>
</nav>
