<nav class="nav-modules bg-primary-color">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-pills modules-pills">
					<li role="presentation" class="{% if page.id == 'td7740' %}active{% endif %}"><a href="/vga-td7740/">VGA <span class="td">TD'</span> 7740</a></li>
					<li role="presentation" class="{% if page.id == 'td5640' %}active{% endif %}"><a href="/5mp-td5640/">5Mp <span class="td">TD'</span> 5640</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
