
.hero-offer {@include cover-background ('//assetstdnext.s3.amazonaws.com/img/bg-hero-camera.jpg');}
.home-news {
  padding:0.781em 0 0.781em 0;
  .home-news-link {
    margin:0;
    @include font-size(32px);
    color:#ffffff;
    font-weight:200;
  }
}

.text-intro {
  p{
    @include font-size(26px);
  }
}

.camera-drawing {
  padding:3% 0 3% 0;
  @include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-camera-bynight.jpg'); background-position:center top;
}

.cam-name {
  display:inline-block;
  margin:1.389em 0 1.389em 0;
  border:0.056em solid #dddddd;
  -moz-border-radius: 2.778em;
  -webkit-border-radius: 2.778em;
  border-radius:2.778em;
  @include font-size(18px);
  font-weight:500;
  .cam-name-left {
    display:inline-block;
    padding:0 0.667em 0 0.667em;
  }

  .cam-name-right {
    display:inline-block;
    padding:0 0.667em 0 0.667em;
    -moz-border-top-right-radius: 2.778em;
    -webkit-border-top-right-radius:2.778em;
    border-top-right-radius: 2.778em;
    -moz-border-bottom-right-radius: 2.778em;
    -webkit-border-bottom-right-radius:2.778em;
    border-bottom-right-radius: 2.778em;
    color:#ffffff;

  }
}

.range{padding:0;}
.range-row{margin:0;}
.range-head {height:98px;}
.range-ref {
  padding:50px 0 50px 0;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background-color:#ffffff;
}

.socket {
  max-width:104px;
  width:100%;
}

.flex {
  max-width:184px;
  width:100%;
}

.m12{
  max-width:155px;
  width:100%;
}


/*----------GETTING STARTED PAGE----------*/
.evk-drawing {
  padding:18% 0 2% 0;
  @include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-drone-evk.jpg'); background-position:center top;
}

.evk-learning-curve {
  padding-bottom:0;
  .evk-learning-curve-text {
    margin:1.923em 0;
    @include font-size(26px);
  }
}


.evk-pack {
  padding-bottom:0;
  .evk-pack-left {
    height:66.063em;
    @include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-evkpack-out.jpg');
  }
  .evk-pack-right {
    .evk-pack-content-heading {
      padding:1.500em 0 1.500em 0;
    }
    .evk-content-tile {
      display:table;

      .evk-content-inner {
        display:table-cell;
        vertical-align:top;

        .evk-component {
          display:inline-block;
          width:auto;
          margin: 1.500em 0 2.500em 0;
          -moz-border-radius: 3.125em;
          -webkit-border-radius: 3.125em;
          border-radius: 3.125em;
          background-color:#ffffff;

          .evk-component-left{
            display:inline-block;
            padding: 0.250em 0.500em;
            -moz-border-radius: 3.125em;
            -webkit-border-radius: 3.125em;
            border-radius: 3.125em;
            background-color:#ffffff;
            font-weight:500;

          }
          .evk-component-right {
            display:inline-block;
            padding: 0.250em 0.500em;
            -moz-border-top-right-radius: 1.923em;
            -webkit-border-top-right-radius:1.923em;
            border-top-right-radius: 1.923em;
            -moz-border-bottom-right-radius: 1.923em;
            -webkit-border-bottom-right-radius:1.923em;
            border-bottom-right-radius: 1.923em;
            background-color:#9b9b9b;
            color:#ffffff;
          }
        }
      }
    }
    .bg-grey-horizontal-small {
      height:12.875em;
      @include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-grey326x206.jpg');
      background-repeat: no-repeat;
    }

    .bg-grey-vertical-small {
      height:25.750em;
      @include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-grey426x413.jpg');
      background-repeat: no-repeat;
    }

    .bg-grey-vertical-big {
      height:33.000em;
      @include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-grey490x528.jpg');
      background-repeat: no-repeat;
    }
  }
}

#rotate-td5640_h{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}


/*----------QUALITY PAGE----------*/
.process {
  padding:0;
  .process-tile {
    position:relative;

    &:hover {
      cursor:pointer;
      .process-tile-overlay {opacity:0.5;}
      .process-tile-inner {opacity:1;}
    }
    .process-tile-overlay {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      background-color:#000000;
      opacity:0;
      z-index:0;

      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    .process-tile-inner {
      display:table;
      position:relative;
      width:100%;
      height:100%;
      opacity:0;
      z-index:1;

      .process-tile-title {
        display:table-cell;
        vertical-align:middle;
        width:100%;
        padding:0 1em 0 1em;
        @include font-size(48px);
        text-align:center;
        color:#ffffff;
        font-weight:300;
        z-index:999;
      }
    }
  }

  .holder-assembly {
    background-image:url('//assetstdnext.s3.amazonaws.com/img/cam_holder_assembly.jpg');
    background-repeat:no-repeat;
    width:100%;
    height:92.250em;

    &:hover {background-position: 0 -92.250em;}
  }

  .focus-tuning {
    background-image:url('//assetstdnext.s3.amazonaws.com/img/cam_focus_tuning.jpg');
    background-repeat:no-repeat;
    height:46.125em;

    &:hover {background-position: 0 -46.125em;}
  }

  .re-tested {
    background-image:url('//assetstdnext.s3.amazonaws.com/img/cam_test.jpg');
    background-repeat:no-repeat;
    height:46.125em;

    &:hover {background-position: 0 -46.125em;}
  }

  .uv-curing {
    background-image:url('//assetstdnext.s3.amazonaws.com/img/cam_uv_curing.jpg');
    background-repeat:no-repeat;
    height:46.125em;

    &:hover {background-position: 0 -46.125em;}
  }
}

/*----------APPLICATION PAGE----------*/

.page-camera-hero {
  position:relative;
  margin-top:-5.250em;
  padding:0 0 0 0;
  z-index:0;
  .basic-page-title {
    margin:2.473em 0 8em 0;
    color:#ffffff;
    font-weight:400;
    .page-title-box {
      color:#ffffff;
    }
  }

  .btn-cam-download {
    margin-bottom:0.658em;
  }
}

#td7740, #tdm114 {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-td7740.jpg'); background-position:center center;}
#td5640 {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-td5640.jpg'); background-position:center center;}
#tdaip01 {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-tdaip01.jpg'); background-position:center center;}

.technical-features {
  color:#ffffff;
  .technical-features-col{
    .technical-feature-inner {
      margin-bottom:3.125em;
      .technical-features-title{
        @include font-size(35px);
        font-weight:400;
      }

      .technical-features-description {
        margin-left:1.600em;
        @include font-size(25px);
        font-weight:200;
      }
    }
    .technical-features-description-detail{
      margin-left:2.500em;
      margin-top:0.313em;
    }
  }
}



.evb-owner {
  padding:0;
  .evb-choice {
    display:block;
    padding: 7.500em 0;
    &:hover {
      -webkit-animation: animatedBackground 1s ease-out 1;
      -moz-animation: animatedBackground 1s ease-out 1;
      animation: animatedBackground 1s ease-out 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
  @-webkit-keyframes animatedBackground {
    0% {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1)
    }
    100% {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1)
    }
  }
  @-moz-keyframes animatedBackground {
    0% {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1)
    }
    100% {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1)
    }
  }
  @keyframes animatedBackground {
    0% {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1)
    }
    100% {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1)
    }
  }
  .evb-choice-left {@include cover-background('//assetstdnext.s3.amazonaws.com/img/td7740-choice-left.jpg');}
  .evb-choice-right {@include cover-background('//assetstdnext.s3.amazonaws.com/img/td5640-choice-right.jpg');}

  .evb-choice-inner {
    display:table;
    position:relative;
    margin: 0 auto 0 auto;
    padding: 0 1.563em 0 1.563em;
    width:18.750em;
    height:18.750em;
    border:2px solid #ffffff;
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index:999;

    .evb-choice-text {
      display:table-cell;
      vertical-align:middle;
      margin:auto;
      @include font-size(50px);
      color:#ffffff;
    }
  }
}

.module-toolbox {
  .module-toolbox-btn {margin:0px;}
  .btn-toolbox {margin:0.48em 0;}
}

@media (min-width:992px){
  .module-toolbox {
    .module-toolbox-btn {margin-top:6.25em;}
  }
}

@media (min-width:1200px){
  .module-toolbox {
    .module-toolbox-btn {margin-top:9em;}
  }
}


/*----------APPLICATION PAGE----------*/

.idea {
  position:relative;
  padding:19% 0 30% 0;
  border-bottom:0.063em solid #ffffff;
  .idea-down {
    position:absolute;
    top:5%;
    left:50%;
    margin-left:-1.500em;
  }
  .idea-title {
    display:inline-block;
    vertical-align:middle;
    margin:0;
    padding:0.172em  0.517em;
    -moz-border-radius: 3.125em;
    -webkit-border-radius:3.125em;
    border-radius: 3.125em;
    @include font-size(24px);
    color:#ffffff;
    font-weight:300;
    text-transform:uppercase;
  }
}

@media (min-width:768px) {
  .idea {
    .idea-title {
      display:inline-block;
      margin:0;
      padding:0.172em  0.517em;
      -moz-border-radius: 3.125em;
      -webkit-border-radius: 3.125em;
      border-radius: 3.125em;
      @include font-size(72px);
      color:#ffffff;
      font-weight:300;
    }
  }
}

.idea-security-surveillance {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-security-plaform.jpg'); background-position:center top; padding-top:16.5%; padding-bottom:28%;}
.idea-scanning {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-scanning.jpg'); background-position:center top;padding-top:24%; padding-bottom:20%;}
.idea-drones {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-robot-drone.jpg'); background-position:center top;padding-top:22.5%; padding-left:7%; padding-bottom:20%;}
.idea-medical {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-medical.jpg'); background-position:center top;padding-top:23%; padding-bottom:20%;}
.idea-wearable{@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-wearable.jpg'); background-position:center top;padding-top:22%; padding-bottom:22%;}
.idea-automotive {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-automative.jpg'); background-position:center top;padding-top:21%; padding-bottom:22%;}


#pattern-owl {
  background-size: 1920px 175px;
  @include at2x('//assetstdnext.s3.amazonaws.com/img/bg-owl', png, 1920px, 175px);

}


/*----------CUSTOM 5 COLS GRID----------*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;

    padding-right: 15px;
    padding-left: 15px;

}

.col-xs-15 {
    width: 100%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
