---
layout: default
---

<section class="page-camera-hero" id="{% if page.id %}{{page.id}}{% endif %}">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="basic-page-title text-center">{{page.h1}}</h1>
			</div>
		</div>
		<div class="row">
				<div class="col-md-15 text-center">
					<a target=_blank href="{% if page.datasheet-sensor %} {{page.datasheet-sensor}} {% else %} # {% endif %}" type="button" class="btn btn-bg-white btn-m btn-cam-download light btn-block">
						<i class="fa fa-test"></i> <span class="normal primary-color text-uppercase">data</span> sheet
					</a>
				</div>
				<div class="col-md-15 text-center">
					<a target=_blank href="{% if page.user-guide %} {{page.user-guide}} {% else %} # {% endif %}" type="button" class="btn btn-bg-white btn-m btn-cam-download light btn-block"><i class="fa fa-test"></i> <span class="normal primary-color text-uppercase">user</span> guide</a>
				</div>
				<div class="col-md-15 text-center">
					<a target=_blank href="{% if page.reference-manual %} {{page.reference-manual}} {% else %} # {% endif %}" type="button" class="btn btn-bg-white btn-m btn-cam-download light btn-block"><i class="fa fa-test"></i> <span class="normal primary-color text-uppercase">Reference</span> manual</a>
				</div>
				<div class="col-md-15 text-center">
					<a target=_blank href="{% if page.scripts %} {{page.scripts}} {% else %} # {% endif %}" type="button" class="btn btn-bg-white btn-m btn-cam-download light btn-block"><i class="fa fa-test"></i> <span class="normal primary-color text-uppercase">Scripts</span></a>
				</div>
				<div class="col-md-15 text-center">
					<a target=_blank href="{% if page.threedfiles %} {{page.threedfiles}} {% else %} # {% endif %}" type="button" class="btn btn-bg-white btn-m btn-cam-download light btn-block"><i class="fa fa-test"></i> <span class="normal primary-color text-uppercase">3D files</span></a>
				</div>
			<!--
			<div class="col-md-12 text-center">
				<p class="text-muted text-white">Downloads available after signing an NDA, please contact sales.</p>
			</div>
		-->
		</div>
	</div>
</section>

{{ content }}
