---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="basic-page-title text-center">{{page.h1}}</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-second-color module-toolbox">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="decoration-down"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="{% if page.evk-tools %} {{page.evk-tools}} {% else %} # {% endif %}"><img class="img-responsive center-block" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/img/toolbox.png"></a>
        </div>
        <!--
        <div class="col-md-4 col-md-offset-1">
        <ul class="list-unstyled module-toolbox-btn">
        <li><a href="{% if page.evk-tools %} {{page.evk-tools}} {% else %} # {% endif %}" role="button" class="btn btn-white btn-l btn-toolbox">EVK tools</a></li>
      </ul>
    </div>
  -->
</div>
</div>
</section>

{% if page.video-tuto == 'ok' %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/146009506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
